body{
    font-family: Arial, helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.4em; /*Mirar el font-size y la line-height*/
    margin: 0;
}

.container{
    width: 85%;
    max-width: 850px;
}

.header{
    background-image: url("../subpaginas/faq/faq_img/faq_covid19.jpg");
    background-position: center center;
    color:white;
    padding: 2em; /*Primer número los de arriba y abajo, segundo número los de la derecha e izquierda.*/
    position: fixed;
    margin:0;
    width: 100%;
    text-align: center;
    z-index: 3; /*Establece que el orden de prioridad es mayor que las cajas del bootstraap.*/
}

.header a{
    color:white;
    text-decoration: none; /*Qu no tengan el subrayado cunado pulsas*/

}

.logo-nav-container{
    display: flex;  /*¿Qué hacía esta propiedad? -> Trata a los elementos como si fueran texto*/
    justify-content: space-between; /*¿Qué hacía esta propiedad?*/
    flex-wrap: wrap; /*Si un elemento tiene más ancho  que lo pase abajo y no le fuerce a estar al lado.*/
    
}


.navigation ul{
    margin:0;
    padding:0;
    list-style:none; /*Ni elementos de lista ni padding dentro de los propios contenidos*/
    padding-left: 0em;    /*Intentar encontrar forma de que se ponga en mitad*/
   
}

    .navigation ul li{
        display: inline-block;
    }

        .navigation ul li a{
            display:block;
            padding: 0.5em 1.5em;
            transition: all 0.4s linear; /*Por lo que visualizo es lo que haces que tarde*/
            
        }

            .navigation ul li a:hover{
                background: darkblue.ligthness();
            }
#mensaje{
    margin-bottom: 1.5em;
}


main{
    padding-top: 9em;
    background-position: center;
}




.footer{
    background: black;
    color: white;
    padding: 2em;
    margin-top: 4em;
}
.row{
    padding-left: 7%;
}
#Contacto{
    margin-left: 2em;
}
.col{
    margin: 4em;/*Mirar que hace este margin*/
}

#RRSS{
    line-height: 2.5em;
    text-align:justify;
    
}

#Contacto{
    text-align: justify;
}

.RRSS a:link, a:hover, a:visited, a:active{
    text-decoration:none;
    color:white;
}

hr{    /*Conseguir traer el hr hacia delante*/
    border-top: 50px solid white;
    height: 0;
    display: block;
}

#copyRight{   
    text-align: left;
    padding-top: 1em;
    padding-left: 9%;
    margin:0;
}

